<app-header></app-header>

<div class="lodin-container">
  <div class="desc">
    <h1>Welcome to Mrami_Movies</h1>
    <span
      >🍿 Ready for an unforgettable cinematic journey? You're in the right
      place.</span
    >
    <div class="para">
      <p>
        Experience the magic of movies like never before with Movie Buffs, your
        ultimate destination for all things cinema. Whether you're a hardcore
        film enthusiast, a casual moviegoer, or simply seeking entertainment,
        our platform has something special in store for you.
      </p>
    </div>
  </div>
  <div class="form">
    <form action="" class="login-form">
      <div class="form-group">
        <label >Email address</label>
        <input type="text" class="form-control" name="username" placeholder="username">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>

<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
